#won, #lost {
	display: none;
}

#word, #letters {
	padding: 25px 0px;
}

#man {
	margin: 20px auto;
	width: 600px;
	height: 600px;
	border: solid;
	border-radius: 5px;
	border-width: 1px;
}

#word {
	font-size: 1.8em;
}

.hint {
	font-size: 0.8em !important;
}

.btn {
	padding: 2px 8px !important;
	margin: 2px 2px;
}


#won .btn, #lost .btn {
	font-size:3em;
}

#won {
	color: green;
}

#lost {
	color:red;
}

header {
	font-weight: bold;
	font-family: "Times New Roman";
}